{%  extends 'main.html' %}


{% block content %}
  <span><a  class="hello-msg" href="{% url 'user_info' %}" style="color:red">user info</a></span>
  <span ><a  class="hello-msg" href="{% url 'user_statistics' %}"style="color:red">user statistics</a></span>
  <span ><a  class="hello-msg" href="{% url 'user_last_sales' %}"style="color:red">last sales</a></span>
  <span ><a  class="hello-msg" href="{% url 'user_plan' %}"style="color:red">sellers plan</a></span>
  <span ><a  class="hello-msg" href="{% url 'add_sale' %}"style="color:red">Добавить продажу</a></span>

{% endblock %}